@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.mobile-desc { font-size:24px; color:#fff; text-align:center; margin-top:10px;}
.cmp-close { font-size:14px; color:#fff; text-align:center;}
.key-terms { font-size:10px; color:#000; background:#e3e3e3; padding:10px; border-top:2px solid #AFAFAF;}
.answer { background:#000; color:#fff; padding:2px 0; margin:0 20px; border-radius:5px; text-align:center; font-size:16px; text-transform:uppercase;}
.main-wrapper { width:100%; max-width:632px; margin:0 auto;}
.bg-container { background:url(../images/iphone-bg.png); width:100%; height:100%; background-size:cover;}
.bg-container1 { background:url(../images/iphone-bg2.png); width:100%; height:100%; background-size:cover;}
.bg-container2 { background:url(../images/ps4-bg.png); width:100%; height:100%; background-size:cover;}
.bg-container3 { background:url(../images/mac-bg.png); width:100%; height:100%; background-size:cover;}
.bg-container4 { background:url(../images/cash-bg.png); width:100%; height:100%; background-size:cover;}
.bg { background:url(../images/bg.jpg) no-repeat; display:block; width:100%; max-width:543px; height:100%; max-height:309px; border-radius:10px;}
.win-iphone img { display:block; margin:0 auto; margin-top:5px; width:100%; height:auto;}
.navbar, header .navbar-default { padding:0 !important; margin:0 !important;}
.navigation-section { margin:0 !important; padding:0 !important; list-style:none;}
.navigation-section li { margin:0 !important; padding:0 !important; display:inline-block; width:20%; float:left;}
.navigation-section li img { width:100%; height:auto; border-radius:5px;}
.navigation-section .white { background:#fff; border:1px solid #A4A4A4; border-radius:5px;}
.navigation-section li a { text-decoration:none;}
.navigation-section li span { display:block; text-align:center; color:#000; font-size:14px; text-decoration:none; }
.top-section {border:1px solid #B5B5B5; border-radius:5px; padding:5px; font-size:12px; margin:5px 0 5px 0;}
.custom-table { display:block; margin:5px 0 5px 0;}
.custom-table input { margin-right:5px;}
.top-section p { padding:0; margin:0;}
.top-section span { text-decoration:underline;}
.exit {color:#C0C0C0 !important;}
.exit a { text-decoration:underline; color:#C0C0C0 !important; font-size:12px;}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Lato', Arial;
  color: #666666;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
}
a {
  font-family: 'Lato', Arial;
  -webkit-font-smoothing: antialiased;
}
div.content {
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  /*color: #fff;*/
}
h1 {  font-size: 56px;}
header .navbar-default {
  background: none;
  border: none;
  padding-top: 0px;
  padding-bottom: 20px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default ul.navbar-nav {
  padding-top: 55px;
}
header .navbar-default ul.navbar-nav li a {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 16px;
  padding: 7px 20px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default ul.navbar-nav li a:after {
  content: '';
  width: 32px;
  background: none;
  height: 4px;
  position: absolute;
  bottom: 2px;
  z-index: 99999;
  left: 20px;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
  color: #ffffff;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default ul.navbar-nav li a:hover {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default ul.navbar-nav li a:hover:after {
  background: #ffffff;
}
header .navbar-default ul.navbar-nav li a.getApp {
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default ul.navbar-nav li a.getApp:after {
  display: none;
}
header .navbar-default .navbar-brand {
  height: auto;
  padding: 0;

}
header .container > .navbar-header{width: 100%;}
header .navbar-default a.navbar-brand
{  width: 100%;}
header .navbar-default a.navbar-brand img
{  margin: 0 auto;text-align: center;display: block;}


header .navbar-default.scrolled {
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  padding: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default.scrolled .navbar-brand {
  padding: 15px 20px;
}
header .navbar-default.scrolled .navbar-brand img {
  width: auto;
  max-height: 33px;
}
header .navbar-default.scrolled ul.navbar-nav {
  padding-top: 15px;
}
.scrollpoint {
  opacity: 0;
}
.scrollpoint.active {
  opacity: 1 \0;
}
.hanging-phone {
  position: absolute;
  right: 0;
  z-index: 0;
  bottom: -70px;
}
.section-heading {
  /*margin: 60px 0 80px;*/
  margin: 0;
  text-align: center;
}
.section-heading h1 {
  display: inline-block;
  font-size: 55px;
  font-weight: 300;
  margin-bottom: 0;
}
.section-heading p {
  font-size: 25px;
  color: #999999;
  font-weight: 300;
}
.section-heading .divider:after {
  content: "";
  position: relative;
  height: 4px;
  width: 60px;
  display: block;
  text-align: center;
  margin: 13px auto;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
}
.section-heading.inverse h1,
.section-heading.inverse p {
  /*color: #ffffff;*/
}
.section-heading.inverse .divider:after {
  background: #ffffff;
}
section#about {
  position: relative;
}
section#about .about-item {
  text-align: center;
  font-size: 17px;
  line-height: 25px;
  color: #999999;
}
section#about .about-item i.fa {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  padding: 35px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 104px;
}
section#features .media > .pull-right {
  margin-left: 20px;
}
section#features .media i.fa {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  padding: 20px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 2.6em;
  text-align: center;
}
section#features .media .media-heading {
  padding-top: 10px;
  font-weight: 300;
}
section#features .media .media-body {
  color: #999999;
}
section#features .media.media-left .media-body {
  text-align: right;
}
section#features .media.feature {
  margin-top: 25px;
}
section#features .media.feature:first-child {
  margin-top: 0;
}
section#features img {
  margin: 0 auto 20px;
}
section#reviews {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section#reviews .review-filtering {
  margin: 20px 0 100px 0;
}
section#reviews .review-filtering .review .review-person {
  width: 100%;
}
section#reviews .review-filtering .review .review-person img {
  width: 110px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin: 10px auto;
}
section#reviews .review-filtering .review .review-comment {
  width:100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding: 5px 40px 20px;
  position: relative;
}
section#reviews .review-filtering .review .review-comment h3 {
  margin-bottom: 15px;
}
section#reviews .review-filtering .review .review-comment p {
  font-size: 16px;
  color: #999999;
}
section#reviews .review-filtering .review .review-comment p span {
  margin-left: 10px;
}
section#reviews .review-filtering .review .review-comment:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-width: 15px;
  margin-top: -10px;
}
section#reviews .review-filtering .review .review-person,
section#reviews .review-filtering .review .review-comment {
  float: left;
}
section#reviews .review-filtering .slick-dots {
  bottom: -80px;
}
section#reviews .review-filtering .slick-dots li button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
section#reviews .review-filtering .slick-dots li button:before {
  display: none;
}
section#screens .slider {
  margin: 50px 0;
}
section#screens .slider div img {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  padding: 10px;
  display: inline;
}
section#screens .slider div h4 {
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
}
section#screens .slider .slick-dots li button {
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
}
section#screens .slick-prev,
section#screens .slick-next {
  width: 50px;
  height: 50px;
  top: 44%;
}
section#screens .slick-slide {
  text-align: center;
}
section#screens .slick-prev:before {
  content: "\f104";
}
section#screens .slick-next:before {
  content: "\f105";
}
section#screens .slick-prev:before,
section#screens .slick-next:before {
  font-size: 34px;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
  line-height: 45px;
  color: #CCC;
  border: 2px solid #CCC;
  width: 50px;
  display: inline-block;
  height: 50px;
  text-align: center;
}
section#screens .filter {
  text-align: center;
}
section#screens .filter a {
  display: inline-block;
  padding: 7px 20px;
  text-decoration: none;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
  margin: 10px 5px;
  text-transform: uppercase;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
/* demo video Section */
section#demo .video-container {
  padding: 20px;
  border: 1px solid #b3b3b3;
  min-height: 450px;
  overflow: hidden;
}
section#demo iframe {
  width: 100%;
  height: 100%;
  border: none;
}
/* Get app Section */
section#getApp {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 70px 0;
}
section#getApp .platforms {
  margin: 5px auto 120px auto;
  text-align: center;
}
section#getApp .platforms .btn {
  margin-right: 10px;
  margin-bottom: 20px;
}
/* support section */
section#support {
  padding: 0;
}
section#support .media {
  margin-bottom: 10px;
}
section#support .media i.fa {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  padding: 10px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 1.9em;
  text-align: center;
}
section#support .media .media-heading {
  padding-top: 15px;
  font-weight: 300;
}
section#support .media .media-heading a {
  font-weight: 400;
}
/* footer section */
footer {
  /*padding: 80px 0;*/
  padding:0;
  text-align: center;
}
footer a > img {
  width: 100px;
}
footer .social {
  display: block;
  margin-top: 30px;
}
footer .social a {
  margin: 0 8px;
  padding: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
footer .social a i {
  width: 1em;
}
footer .rights {
  margin-top: 14px;
}
footer .rights a {
  text-decoration: underline;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  font-weight: bold;
}
footer .rights a:hover {
  text-decoration: none;
}
section {
  position: relative;
  padding-bottom: 90px;
}
/* Common style for pseudo-elements */
section::before,
section::after {
  position: absolute;
  content: '';
  pointer-events: none;
  overflow: hidden;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.tp-caption {
  font-family: 'Lato', Arial !important;
  -webkit-font-smoothing: antialiased;
}
.tp-caption.large_white_bold {
  color: #ffffff;
  font-size: 65px;
  font-weight: 400;
}
.tp-caption.large_white_light {
  color: #ffffff;
  font-size: 65px;
  font-weight: 400;
  font-weight: 300;
}
.btn {
  -webkit-border-radius: 3em;
  -moz-border-radius: 3em;
  -ms-border-radius: 3em;
  -o-border-radius: 3em;
  border-radius: 3em;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 5px 25px;
}
/*.btn.btn-primary {
  border: 2px solid #ffffff;
  background: none;
  color: #ffffff;
}*/
.btn.btn-primary:hover {
  color: #ffffff;
}
.btn.btn-default {
  border: none;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* IE10+ */
  background: linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#cccccc, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.btn.btn-lg {
  padding: 10px 45px;
}
.btn:hover {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
form .form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
  height: 40px;
  line-height: 40px;
  padding: 20px;
  color: #cfcfcf;
  border: 2px solid #cccccc;
  font-weight: 300;
}
form textarea.form-control {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  height: auto;
  line-height: normal;
}
.extra{  padding: 30px;
  margin: 0.5em;
  background-color: whitesmoke;
  border-radius: 20px;
  border: 1px solid rgb(213, 213, 213);}

.extra2{  padding: 30px;
  background-color: whitesmoke;
  border-radius: 20px;
  border: 1px solid rgb(213, 213, 213);
  float: left;
  margin: 1em;
}
.extra3 {  padding: 30px;
 
  background-color: black;
  border-radius: 20px;
  border:0px solid rgb(213, 213, 213);}



/*competition*/
/*.black {
  background-color: black;
  color: white;
  margin: 0.3em auto;
  padding: 0.5em 1em;
  width: 80%;
  border-radius: 30px;
}*/
.quest {
   margin: 0 0 0.7em 0;
  line-height: 1em;
  font-size: 2.2em;
  font-weight: bold;
  text-align: center;
  color: white;
}
.quest2 {
  margin: 0 0 0.7em 0;
  line-height: 1em;
  font-size: 1.4em;
  font-weight: bold;
  text-align: left;
  color: #0a9601;
}

.myButton {
  width: 104px;
  float: left;
  -moz-box-shadow: inset 0px 58px 0px 0px #3dc21b;
  -webkit-box-shadow: inset 0px 58px 0px 0px #3dc21b;
  box-shadow: inset 0px 58px 0px 0px #3BBA1B;
  background-color: #26AD01;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  border: 1px solid #0EB321;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 78px;
  font-weight: bold;
  /* padding: 0px 29px; */
  text-decoration: none;
  text-align: center;
  text-shadow: 0px 1px 0px #2f6627;
  
}
/*a.myButton:hover{text-decoration: none;color: white;}*/
.sepp2{width: 15px;display: block;float: left;border: 1px solid black;}
.holdx{ display:block;
width:344px;
  margin: 0 auto;
  /* border: 1px solid red; */}


.holder_content.extra4{padding-top: 0.5em;color: white;}

.tab-content > .active {
  display: block;
  visibility: visible;
}
.tab-content > .tab-pane {
  display: none;
  visibility: hidden;
}
table.singleclick_competition_table {
  position: relative;
  padding-top: 2px;
}
table.singleclick_competition_table {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
}
table{
padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
tr:first-child {
  /* background-image: url("http://template.mmptest.co.uk/img/buttons.png"); */
  background-repeat: no-repeat;
  background-size: cover;
}
/*tr:first-child {
  width: 374px;
  border: 0px solid red;
  display: block;
  margin: 0 auto;
  padding-bottom: 5px;
}*/
table.singleclick_competition_table {
  text-align: center;}

  .singleclick_competition_table button {
  -moz-border-radius: 15px;
  outline: none;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  display: inline-block;
  color: #ffffff;
  font-family: arial;
  font-size: 59px;
  font-weight: bold;
  padding: 11px 29px;
  text-decoration: none;
  text-shadow: 1px 1px 3px #000000;
  margin: 0 15px;
  background-image: url('../../template.uk.winprizes.biz/img/button-bg-one.png');
  background-size: cover;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  background-image: url("../../template.uk.winprizes.biz/img/button-single-green.png");
}
.holder_content {
  padding: 0 0 0.5em;
 
}
.holder_content {
  text-align: center;
  color: #fff;
  font-weight: bold;
  padding: 0;
  width: 95%;
  margin: 0 auto;
  font-size: x-small;
  font-weight: normal;
}
p.holder_content a:link {
  color: #fff;
}
p.holder_content a:visited {
  color: #000;
}
p.holder_content a:link {
  color: #000;
}
p.holder_content a {
  text-decoration: underline;
  font-weight: bold;
  color: #000;
}
#terms{display:block;}
#terms h3{margin-top: 0;}
#competition {margin-bottom:20px;}
#terms{  height: 394px;}
#winners li {list-style-type:none;width: 100%;float: left;  background-color: cornsilk;}
#winners li:nth-child(odd) {background: #fff;}
#winners li span{float:left;text-align: center;}

/*competition end*/

#winners{padding: 10px;}
@media screen and (max-width: 640px) {
  .holdx {  width: 231px;
  margin: 0 auto;}
  .myButton {
  height: 62px;
  line-height: 62px;
  width: 66px;
  float: left;
  -moz-box-shadow: inset 0px 58px 0px 0px #3dc21b;
  -webkit-box-shadow: inset 0px 58px 0px 0px #3dc21b;
  box-shadow: inset 0px 58px 0px 0px #3BBA1B;
  
  text-align: center;
  
  font-size: 29px;

}
  .quest2{text-align: center;}
  tr:first-child {width: 100%;}
  .section-heading h1 {font-size: 38px;}
  /*.quest {font-size: 1.5em;}*/
  .extra3 {margin: 20px;}
  #winners{padding: 0;}
 #terms{height:606px;}
  .extra2 {padding: 5px;border-radius: 8px;margin: 0.2em;}
  .logo {
    width: 100px;
    height: auto;
  }
  .slick-next {
    right: 0;
  }
  .slick-prev {
    left: 0;
  }
  .contact-details {
    margin-top: 20px;
  }
  header .navbar-default {
    padding: 20px;
  }
  header .navbar-default .navbar-toggle {
    margin-top: 0px;
    margin-right: 0px;
    background: none;
    border: 2px solid #ffffff;
    color: #ffffff;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
    border-radius: 5em;
  }
  header .navbar-default .navbar-toggle:hover,
  header .navbar-default .navbar-toggle:focus {
    background: none;
  }
  header .navbar-default ul.navbar-nav {
    padding-top: 0;
    margin: 0;
  }
  header .navbar-default ul.navbar-nav li a {
    padding: 10px;
    text-align: center;
  }
  header .navbar-default ul.navbar-nav li a.getApp {
    background: none !important;
    -webkit-border-radius: 0em;
    -moz-border-radius: 0em;
    -ms-border-radius: 0em;
    -o-border-radius: 0em;
    border-radius: 0em;
  }
  header .navbar-default .navbar-collapse {
    border-color: transparent;
  }
  header .navbar-default.scrolled .navbar-collapse {
    border-color: transparent;
  }
  header .navbar-default.scrolled ul.navbar-nav {
    padding-top: 0;
    margin: 0;
  }
  header .navbar-default.scrolled .navbar-toggle {
    margin-top: 11px;
    margin-right: 20px;
    background: none;
    border: 2px solid #ffffff;
    color: #ffffff;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
    border-radius: 5em;
  }
}
header {

}
header .navbar-default ul.navbar-nav li a {
  color: #ffffff;
  background: none;
}
header .navbar-default ul.navbar-nav li a.getApp {
  color: #824583;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(180deg, #ffffff 0%, #e0e0e0 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ffffff), color-stop(100%, #e0e0e0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(180deg, #ffffff 0%, #e0e0e0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(180deg, #ffffff 0%, #e0e0e0 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(180deg, #ffffff 0%, #e0e0e0 100%);
  /* IE10+ */
  background: linear-gradient(180deg, #ffffff 0%, #e0e0e0 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#e0e0e0, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
header .navbar-default ul.navbar-nav li a.getApp:hover {
  color: #8c4b8d;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* IE10+ */
  background: linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#cccccc, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default ul.navbar-nav li a:hover {
  color: #ffffff;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default.scrolled {
 /*border-bottom: 3px solid #6b396c;*/
}
header .navbar-default.scrolled ul.navbar-nav li a {
  color: #6b396c;
}
header .navbar-default.scrolled ul.navbar-nav li a:hover {
  color: #6b396c;
}
header .navbar-default.scrolled ul.navbar-nav li a:hover:after {
  background: #6b396c;
}
header .navbar-default.scrolled .navbar-brand {
  background: #6b396c;
}
section .section-heading .divider:after {
  background: #cc6698;
}
section#about .about-item i.fa {
  border: 2px solid #cc6698;
  color: #cc6698;
}
section#about .about-item:hover i.fa {
  color: #ffffff;
  background: #cc6698;
}
section#about .about-item:hover h3 {
  color: #cc6698;
}
section#features {
  background: #f6f6f6;
}
section#features header h1:after {
  background: #cc6698;
}
section#features .media i.fa {
  border: 2px solid #cc6698;
  color: #cc6698;
}
section#features .media:hover i.fa {
  color: #ffffff;
  background: #cc6698;
}
section#features .media:hover h3 {
  color: #cc6698;
}
section#features .media.active i.fa {
  color: #ffffff;
  background: #cc6698;
}
section#features .media.active .media-heading {
  color: #cc6698;
}
section#reviews {
 /* background: url("../img/berry/bk-berry.jpg");*/
 background-color: rgb(237, 237, 237);
}
section#reviews header {
  color: #ffffff;
}
section#reviews header h1:after {
  background: #ffffff;
}
section#reviews .review-filtering .review .review-person img {
  border: 3px solid #ffffff;
}
section#reviews .review-filtering .review .review-comment {
  background: #ffffff;
}
section#reviews .review-filtering .review .review-comment h3 {
  color: #cc6698;
}
section#reviews .review-filtering .review .review-comment p span i {
  color: #cc6698;
}
section#reviews .review-filtering .review .review-comment:after {
  border-right-color: #ffffff;
}
section#reviews .review-filtering .slick-dots li button {
  background: #ffffff;
  border: 2px solid #ffffff;
}
section#reviews .review-filtering .slick-dots li.slick-active button {
  background: #cc6698;
}
section#screens header h1:after {
  background: #cc6698;
}
section#screens .slider div img {
  border: 2px solid #e5e5e5;
}
section#screens .slider div h4 {
  color: #999999;
}
section#screens .slider .slick-dots li button {
  background: #999999;
}
section#screens .slider .slick-dots li.slick-active button {
  background: #cc6698;
}
section#screens .filter a {
  border: 2px solid #cccccc;
  color: #999999;
}
section#screens .filter a:hover {
  color: #ffffff;
  background: #cc6698;
  border-color: #cc6698;
}
section#screens .filter a.active {
  color: #ffffff;
  background: #cc6698;
  border-color: #cc6698;
}
/* demo video Section */
section#demo {
  background: #f6f6f6;
}
section#demo header h1:after {
  background: #cc6698;
}
/* Get app Section */
section#getApp {
  background: url("../img/berry/bk-berry-ga.jpg");
}
section#getApp header {
  color: #ffffff;
}
section#getApp header h1:after {
  background: #ffffff;
}
section#getApp .platforms .media {
  border: 2px solid #ffffff;
  color: #ffffff;
}
section#getApp .platforms .media a i {
  color: #ffffff;
}
section#getApp .platforms .media a div.media-body {
  color: #ffffff;
}
section#getApp .platforms .media:hover {
  background: #ffffff;
}
section#getApp .platforms .media:hover a i,
section#getApp .platforms .media:hover a div.media-body {
  color: #cc6698;
}
/* support section */
section#support header h1:after {
  background: #cc6698;
}
section#support .media i.fa {
  border: 2px solid #cc6698;
  color: #cc6698;
}
section#support .media a {
  color: #cc6698;
}
section#support .media:hover i.fa {
  color: #ffffff;
  background: #cc6698;
}
section#support .media:hover h3 {
  color: #cc6698;
}
/* footer section */
footer {
  color: #666666;

}
footer .social a {
  border: 2px solid #ffffff;
}
footer .social a i {
  color: #ffffff;
}
footer .social a:hover {
  background: #ffffff;
}
footer .social a:hover i {
  color: #cc6698;
}
footer .rights {
  /*color: #ffffff;*/
}
footer .rights a {

  font-weight: 900;
  text-decoration: none;
}
.navbar-toggle {
  background-color: #CCC;
  border: 1px solid rgba(0, 0, 0, 0);
}
/*.btn.btn-primary {
  color: #cc6698;
  border-color: #cc6698;
}*/
.btn.btn-primary:hover {
  color: #ffffff;
  background: #cc6698;
  border-color: #cc6698;
}
.btn.btn-primary.inverse {
  color: #ffffff;
  border-color: #ffffff;
}
.btn.btn-primary.inverse:hover {
  color: #ffffff;
  background: #cc6698;
  border-color: #cc6698;
}
.btn.btn-default {
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* IE10+ */
  background: linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#cccccc, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  color: #6b396c;
}
.btn.btn-default:hover {
  color: #6b396c;
}
form .form-control:focus {
  border-color: #cc6698;
  color: #999999;
}

.promo-button {
  border: 0px;
  color: white;
  display: inline-block;
  white-space: nowrap;
  height: 52px;
  line-height: 52px;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  padding: 0 30px;
  background: #fd8600;
  text-transform: uppercase;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.promo-button2 {
  border: 0px;
  color: white;
  display: inline-block;
  white-space: nowrap;
  height: 52px;
  line-height: 52px;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  padding: 0 30px;
  background: #cccccc;
  text-transform: uppercase;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}




/*.form-group h3{margin-top: 70px;}*/

@media screen and (max-width: 640px) {
  header .navbar-default .navbar-toggle:hover,
  header .navbar-default .navbar-toggle:focus {
    background: none;
  }
  header .navbar-default ul.navbar-nav li a {
    color: #ffffff;
    border-bottom: 1px solid #753e76;
  }
  header .navbar-default ul.navbar-nav li a.getApp {
    color: #ffffff;
  }
  header .navbar-default ul.navbar-nav li a:after {
    display: none;
  }
  header .navbar-default ul.navbar-nav li a:hover {
    color: #cc6698;
  }
  header .navbar-default .navbar-collapse {
    background: #6b396c;
  }
  header .navbar-default.scrolled {
    background: #6b396c;
  }
  header .navbar-default.scrolled ul.navbar-nav li a {
    color: #ffffff;
  }
  header .navbar-default.scrolled ul.navbar-nav li a:hover {
    color: #cc6698;
  }
  .form-group h3 {
  margin-top:0px;
  } 
  .navbar, header .navbar-default {padding: 0;  margin-bottom: 0px;}
  .promo-button {
  margin-bottom: 15px;
  width: 100%;}
}


  

.pre-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  display: block;
}
.pre-loader .load-con {
  margin: 20% auto;
  position: relative;
  text-align: center;
}
.spinner {
  margin: 50px auto 0;
  width: 70px;
  text-align: center;
}
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
.pre-loader {
  background: #fff;
}
.container > .navbar-header{
  margin-right: 0;
  margin-left: 0;
}

